@page "/people/delete/{Id:guid}"
@using Application.Domain.EF
@using Application.Service
@using WebApp.Pages.Shared
@inject PersonService service
@inject NavigationManager nav
@inject ISnackbar bar

@if (Person == null)
{
    <p><i>Loading ...</i></p>
}
else
{
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <_DetailsDeletePerson FirstName=@Person.FirstName LastName=@Person.LastName/>
    
    <MudForm>
        <MudButton OnClick="OnDelete" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
    </MudForm>
    
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    Person? Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await service.GetPersonByIdAsync(Id);
    }
    private async Task OnDelete(MouseEventArgs e)
    {
        await service.DeletePersonByIdAsync(Id);
        bar.Add("Person deleted!", Severity.Success);

        nav.NavigateTo("/people");
    }
}
