@page "/people/details/{Id:guid}"
@using Application.Domain.EF
@using Application.Service
@inject PersonService service
<h1>Details</h1>
@if(Person == null)
{
    <p><i>Loading ...</i></p>
}
else
{
   
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Person.FirstName
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Person.LastName
        </dd>
     </dl>
     <div>
         <a href=@($"/people/edit/{Person.Id}")>Edit</a> |
        <a href=@("/people")>Back to List</a>
     </div>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    Person? Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await service.GetEntityByIdAsync(Id);
    }
}
