@page "/people/details/{Id:guid}"
@using Application.Domain.EF
@using Application.Service
@using WebApp.Pages.Shared
@inject PersonService service
<h1>Details</h1>
@if(Person == null)
{
    <p><i>Loading ...</i></p>
}
else
{
   
    <DetailsDeletePerson FirstName=@Person.FirstName LastName=@Person.LastName/>
    
     <div>
         <a href=@($"/people/edit/{Person.Id}")>Edit</a> |
        <a href=@("/people")>Back to List</a>
     </div>
}
@code {
    [Parameter]
    public Guid Id { get; set; }

    Person? Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await service.GetEntityByIdAsync(Id);
    }
}
