@page "/people/details/{id:int}"
@using ContactBookClient.DTO
@using ContactBookClient.Services
@inject PersonService service;
<h3>Details</h3>

@if (Person == null)
{
    <p><i>Loading ...</i></p>
}
else
{
    <table>
        <tbody>
            <tr>
                <th>First Name</th>
                <td>@Person.FirstName</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>@Person.LastName</td>
            </tr>
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Id { get; set; }
    Person? Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await service.GetPersonById(Id);

    }
}
