@page "/people"
@using ContactBookClient.DTO
@inject PersonService service
<h3>People</h3>
<h1>Index</h1>
<p>
    <a href="/people/create">Create new</a>
</p>
@if (People == null)
{
    <p><i>Loading ...</i></p>
}
else
{
   
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person!.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
            
        </tbody>
    </table>
}
@code {
    IEnumerable<Person?>? People = new List<Person>();
    protected override async Task OnInitializedAsync()
    {        
        People = (await service.GetPeople()).ToList();
        
    }
}
