
<h4>Person</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        First Name
    </dt>
    <dd class="col-sm-10">
        @FirstName
    </dd>
    <dt class="col-sm-2">
        Last Name
    </dt>
    <dd class="col-sm-10">
        @LastName
    </dd>
</dl>

@code {
   [Parameter]
   public string? FirstName { get; set; }

    [Parameter]
    public string? LastName { get; set; }
}
