
@page "/counter"
@rendermode InteractiveServer
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click Me!</button>
<div class="mt-3">
    <input @bind="text" @bind:event="oninput" @bind:after="Search"/>
    <button @onclick="Clear">Clear</button>
    <p>@text</p>
    <p>@searchResults</p>
</div>
@code {

    private int currentCount = 0;
    string text = "";
    string searchResults = "";
    private void IncrementCount(MouseEventArgs e) => currentCount++;

    private void Change(ChangeEventArgs e)
    {
        text = e.Value!.ToString()!;
    }

    private void Clear(MouseEventArgs e)
    {

        text = "";
    }

    private async Task Search()
    {
        searchResults = "Searching ...";
        await Task.Delay(2000);
        searchResults = $"Found {Random.Shared.Next()} results!";
    }
}
