@model App.Domain.EF.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <h4>Person</h4>
    <hr />
<partial name="/Views/Shared/People/_DetailsDeletePerson.cshtml" model="Model" />

<div>
    
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
